

#wrapper{
	width: 0px auto;
	height:0px auto;
	margin: 0px auto;

}

#main
{   height: 100px;
    background: -webkit-linear-gradient(top, #003333, black);
    color: white;
   

}
#main #logo img{
	height: 75px;
	margin-left: 25px;
	margin-top: 10px;
}
#main #name{
	width: 300px;
	margin-top: -55px;
	margin-left: 125px;
	font-family: Berlin Sans FB Demi;
	font-size: 22px;
	font-weight: bold;
	
}
#main #nav{
	border:none;
	height: auto;
	list-style-type: inline;
	margin-left: 900px;
	margin-top: -15px;
	
}
#main #nav ul li{
	list-style-type: none;
	display:inline;
	padding: 8px 8px 8px 8px;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
	border-top-right-radius:18px;
	border-top-left-radius: 18px;
	background: #0099CC;
	font-size: 20px;
	font-family: times new roman;
	-webkit-box-shadow: rgb(10, 0, 10) 8px 5px 5px;


}
#main #nav ul li:hover{
	background: #33CCFF;
}
#main #contact{
	margin-left: 950px;
	margin-top:	 -90px;
}


#main #blah{
	margin-left: 1100px;
	margin-top:	 -35px;
}
	
